<!DOCTYPE html>
<html>
<head lang="UTF-8">
    <title>Passport Walkthrough</title>

    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</head>
<body>
    <h1>Welcome to 'a' page</h1>
    <p>Here at 'a' page, we offer 'b' service, for you! Sign in now, below!</p>
    <p></p>
    <form action="/" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
            <p>Not signed up yet? Register here!</p>
            <a href="/assets/views/routes/register.html">Register</a>
        </div>
    </form>



</body>
</html>